
<div>
    <h2><span data-translate="tabulaRasaApp.releaseFeature.detail.title">Release Feature</span> {{vm.releaseFeature.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="tabulaRasaApp.releaseFeature.name">Name</span></dt>
        <dd>
            <span>{{vm.releaseFeature.name}}</span>
        </dd>
        <dt><span data-translate="tabulaRasaApp.releaseFeature.description">Description</span></dt>
        <dd>
            <span>{{vm.releaseFeature.description}}</span>
        </dd>
        <dt><span data-translate="tabulaRasaApp.releaseFeature.featurefunction">Featurefunction</span></dt>
        <dd>
            <span ng-repeat="featurefunction in vm.releaseFeature.featurefunctions">
                <a ui-sref="feature-functiontabRasaSuffix-detail({id: featurefunction.id})">{{featurefunction.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="tabulaRasaApp.releaseFeature.featurefunction">Featurefunction</span></dt>
        <dd>
            <span ng-repeat="featurefunction in vm.releaseFeature.featurefunctions">
                <a ui-sref="feature-functiontabRasaSuffix-detail({id: featurefunction.id})">{{featurefunction.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="release-featuretabRasaSuffix-detail.edit({id:vm.releaseFeature.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
